
body {
    min-height: 90vh;
    background-color: #282a3a;
    font-family: sans-serif;
    margin: 1rem;
}

h1 { color:gold; }

input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
}
label[for*="placeholder"]{ 
    color: #7cdfad; 
    font-size: 2rem;
}

.grid-container{
    display: grid;
    background-color: #3b1d57;
    border-radius: 1.25rem;
    gap: 0.1rem;
}

.now-playing-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0.5rem 0.25rem;
    justify-content: center;
    place-items: center;
}

.now-play-grid-item1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.now-play-grid-item2{
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-container-main-content{
    display: grid;
    min-height: 60vh;
    margin-top: -1.5rem;
    grid-template-columns: repeat(3,1fr);
}

.flexbox-container{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: center;
}

.flexbox-item{
    display: inherit;
    flex-grow: 1;
    justify-content: center;
    text-decoration: none;
}

.flexbox-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
}

.button{
    font-size: 1.25rem;
    border-radius: 0.5rem;
}


